@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* scroll-behavior: smooth; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

::selection {
  background: #dddddd; /* Highlight color */
  color: #1d1d21; /* Text color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 0.8vw; /* Width of the scrollbar */
  height: 0.8vw; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); /* Background of the scrollbar track */
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: black; /* Color of the scrollbar slider */
  border-radius: 0.4vw; /* Rounded corners for the slider */
  border: 0.1vw solid white; /* Adds space around the slider */
}
